{% extends 'base.html' %}

{% block content %}

{% load cart %}

{% load custom_filter %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<div class="container">
    <div class="border rounded p-4 m-4">
        <p class="display-4 ml-4">Cart</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Noi</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Rental Time</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>

                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded" src="{{product.image.url}}"></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price|currency}}</td>
                    <td>{{product|rental_time:request.session.cart}} weeks</td>
                    <td>{{product|price_total:request.session.cart|currency}}</td>
                </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3"></th>
                    <th class="" colspan="">Total</th>
                    <th>{{products|total_cart_price:request.session.cart|currency}}</th>
                </tr>
            </tfoot>
        </table>

        <div class="m-3 p-3">
            <a href="#" data-toggle="modal"
            data-target="#exampleModal"
            class="btn btn-outline-info border rounded
            col-lg-3 float-right">Check out</a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="py-5 text-center">

        <!-- Trzeba wyśrodkować, a obrazek można zawsze zmienić :P -->

          <img class="mb-4" src="https://img.fontspace.co/preview/d/c61ec490abaf4c8d964d2f95f2eb39db/dk-checkout-font-design-graphic-16645-1440x720.png"
          width= "72" height="72">
        </div>
      
        <hr>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
            <form action="/check-out" method="POST">

                {% csrf_token %}

                  <div class="form-group">
                  <label for="exampleFormControlSelect1">Country</label>
                  <select onchange="set_city_state(this,city_state)"
                  class="form-control" 
                   id="txtregion" name="region">
                
                  </select>
                </div>

               <div class="form-group">
                  <label for="exampleFormControlSelect1">Region</label>
                  <select class="form-control" 
                   id="txtregion" name="region" >
                </select>
                  </div>

                  <div class="form-group">
                  <label for="">Card Owner</label>
                  <input type="text" name="" id=""
                  class="form-control" placeholder="">
                </div>

                
                 <div class="form-group">
                  <label for="">Card number</label>
                  <input type="text" name="" id=""
                  class="form-control" placeholder="1111 2222 3333 4444"
                  >
                </div>
                  
                  <label for="">Expiry date</label>
                  <div class="row">
                  <div class="col-sm-2">
                  <input type="text" name="" id=""
                  class="form-control" placeholder="Month"
                  >
                  </div>
                  <div class="col-sm-2">
                  <input type="text" name="" id=""
                  class="form-control" placeholder="Year">
                  </div>               
                </div>
                
                <label for="">CVC</label>
                 <div class="row">
                 <div class="col-sm-2">
                  <input type="text" name="phone" id=""
                  class="form-control" placeholder="123">
                  </div>  
                 </div>

                
                <hr>
                    <button type="submit" class="button is-primary btn-lg">Purchase!</button>
                  </form>
                </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}